:root {
    --spinner-image-size: 40px;
    --spinner-image-gap: 4px;
    --spinner-label-padding-left: 4px;
    --spinner-label-padding-right: 12px;
    --spinner-label-display: none;
    --spinner-label-font-size: 14px;
    --spinner-background-height: 48px;
    --spinner-background-color: rgba(13, 13, 13, 0);
}
/*-------------------------------------------------------------------------------------*/
body{
    background-color: rgb(250, 250, 252);
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    display: inline;
}
ul li{
    margin-right: 30px; 
    
}
a {
    text-decoration: none;
    text-decoration-line: none;
}
li a {
    text-align: center;
    padding: 25px;
    text-decoration: none;
} 

/*-------------------------------------------------------------------------------------*/
.active{
    font-size: larger;
    font-family:'Franklin Gothic Medium', sans-serif;
}
.navbar{
    align-content: center;
}
.navbar-brand{
    margin-left: 0;
    padding-left: 20px;
    padding-right: 50px;
}
.navbar-toggler {
    align-self:center;
    background-color: transparent;
    border-radius: 0.25rem;
}

@media(min-width: 300px){
    
    .navbar{
        align-content: center;
        position: fixed;
        z-index: 9;
        top:0px !important;
    }
    .carousel{
        margin-top:200px !important;
    }
}

@media(min-width: 700px){
    .navbar{
        align-content: center;
        position: relative;
        background-color: transparent;
        z-index: 0;
    }
    .carousel{
        margin-top:30px !important;
    }
}

/*-------------------------------------------------------------------------------------*/

@media(min-width: 300px){
    .row{
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        text-align: center;
        font-size: large !important;
    }  
}

@media(min-width: 700px){
    .row{
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        text-align: center;
        font-size: large !important;
    }  
}

@media(min-width: 1000px){
    .row{
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        text-align: center;
        font-size: x-large !important;
    }  
}

@media(min-width: 1140px){
    .row{
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        text-align: center;
        font-size: x-large !important;
    }  
}

@media(min-width: 1700px){
    .row{
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        text-align: center;
        font-size: x-large !important;
    }
}

.enlacesinternos{
    text-decoration: none;
    font-style: normal;
    color: lightslategrey;
}
.enlacesinternos:hover{
    text-decoration: bold;
    font-style: normal;
    color: darkslategrey;
}


/*-----------------------------------------------------------------------------*/
/* reto */

.pagina-contexto section {
    margin-bottom: 40px;
}
  
.pagina-contexto h2 {
    color: #1f2937;
    margin-bottom: 10px;
}
  

/*-----------------------------------------------------------------------------*/
/* programa */
.container {
    padding: 5vh 5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
.titulo-programa {
    text-align: center;
    font-size: 3em;
    margin-bottom: 2em;
    color: #0f111a;
}
  
.dia {
    margin-bottom: 4em;
    background-color: white;
    padding: 2em;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
  
.dia-titulo {
    font-size: 2em;
    color: #53a37d;
    margin-bottom: 1em;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 0.5em;
}
  
.agenda {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.agenda li {
    font-size: 1.1em;
    padding: 1em 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
.hora {
    font-weight: bold;
    color: #356c8d;
    display: inline-block;
    width: 160px;
}
  